<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= DEFAULT_META["title"] %> </title>
</head>

<body>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet">
<div class="movie-screen-final">
  <turbo-frame id="movie-frame">
    <% if session[:recommendations] %>
      <% session[:recommendations].each do |movie| %>
        <div class="movie-card" data-controller="movie-card" data-url="<%= streaming_platforms_path(id: movie['id'], type: movie['media_type']) %>" data-card-id="<%= movie['id'] %>" data-action="swipe-left->movie-card#swipeLeft">
          <div class="card-inner">
            <div class="card-front">
              <%= image_tag("https://image.tmdb.org/t/p/w500/#{movie["poster_path"]}", class: "rectangle") %>
            </div>
            <div class="card-back">
              <div class="movie-details">
                <div class="movie-title-section">
                  <%= image_tag('camera2.svg', class: 'camera-icon') %>
                  <div class="camera-icon">
                    <div class="movie-title-section">
                      <h2 class="movie-title"><%= (movie["title"] || movie["name"]).upcase %></h2>
                      <p class="movie-year">Année de production : <%= (movie["release_date"] || movie["first_air_date"]).to_s.split("-").first %></p>
                      <p class="movie-vote">Vote du public : <%= movie["vote_average"] %> / 10</p>
                    </div>
                  </div>
                </div>
                <div class="movie-description-section">
                  <p class="movie-overview"><%= movie["overview"] %></p>
                </div>
              </div>
            </div>
            <div class="favorite-button-container">
              <button
                data-controller="favorite"
                data-action="click->favorite#toggle"
                data-favorite-id-value="<%= movie["id"] %>"
                data-favorite-title-value="<%= movie["title"] || movie["name"] %>"
                data-favorite-image-url-value="<%= movie["poster_path"] %>"
                data-favorite-media-type-value="<%= movie["media_type"] %>"
                class="favorite-button <%= 'favorited' if current_user.movie_in_favorites?(movie["id"]) %>"
                type="button">
                <span class="heart-icon">
                  <img src="<%= image_path('heart_empty.svg') %>" alt="Empty Heart" class="empty-heart ">
                  <img src="<%= image_path('heart_full.svg') %>" alt="Full Heart" class="full-heart ">
                </span>
              </button>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </turbo-frame>
  <div id="end-of-cards-message">
    <p>Vous avez vu toutes les recommandations.</p>
    <button class="btn_restart" onclick="location.href='<%= new_seance_path %>'">
      Recommencer
    </button>
  </div>
</div>
</body>
