<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= DEFAULT_META["title"] %> </title>
</head>

<body>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet">
<div class="movie-screen-final">
    <% if session[:recommendations] %>
      <% session[:recommendations].each do |movie| %>
      <turbo-frame id="movie-frame-<%= movie['id'] %>">
        <div class="movie-card" data-controller="movie-card" data-url="<%= streaming_platforms_path(id: movie['id'], type: movie['media_type']) %>" data-card-id="<%= movie['id'] %>" data-action="swipe-left->movie-card#swipeLeft">
          <div class="card-inner">
            <div class="card-front">
              <%= image_tag("https://image.tmdb.org/t/p/w500/#{movie["poster_path"]}",
              class: "rectangle",
              srcset: "https://image.tmdb.org/t/p/w300/#{movie["poster_path"]} 300w, https://image.tmdb.org/t/p/w500/#{movie["poster_path"]} 500w",
              sizes: "(max-width: 768px) 300px, 500px",
              onload: "this.parentElement.style.background='none'") %>

            <div class="favorite-container"
              data-controller="favorite"
              data-favorite-id-value="<%= movie['id'] %>"
              data-favorite-title-value="<%= movie['title'] || movie['name'] %>"
              data-favorite-image-url-value="<%= movie["poster_path"] %>"
              data-favorite-media-type-value="<%= movie["media_type"] %>">

              <input type="checkbox" class="checkbox" id="favorite-checkbox-<%= movie['id'] %>"
                data-action="change->favorite#toggle"
                <%= 'checked' if current_user.movie_in_favorites?(movie['id']) %>>
              <label for="favorite-checkbox-<%= movie['id'] %>">
                <svg id="heart-svg" viewBox="467 392 58 57" xmlns="http://www.w3.org/2000/svg">
                <g id="Group" fill="none" fill-rule="evenodd" transform="translate(467 392)">
                <path id="heart" d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z" fill="#FFFFFF"/>
                <circle id="main-circ" fill="#E2264D" opacity="0" cx="29.5" cy="29.5" r="1.5"/>

                <g id="grp7" opacity="0" transform="translate(7 6)">
                  <circle id="oval1" fill="#9CD8C3" cx="2" cy="6" r="2"/>
                  <circle id="oval2" fill="#8CE8C3" cx="5" cy="2" r="2"/>
                </g>

                <g id="grp6" opacity="0" transform="translate(0 28)">
                  <circle id="oval1" fill="#CC8EF5" cx="2" cy="7" r="2"/>
                  <circle id="oval2" fill="#91D2FA" cx="3" cy="2" r="2"/>
                </g>

                <g id="grp3" opacity="0" transform="translate(52 28)">
                  <circle id="oval2" fill="#9CD8C3" cx="2" cy="7" r="2"/>
                  <circle id="oval1" fill="#8CE8C3" cx="4" cy="2" r="2"/>
                </g>

                <g id="grp2" opacity="0" transform="translate(44 6)">
                  <circle id="oval2" fill="#CC8EF5" cx="5" cy="6" r="2"/>
                  <circle id="oval1" fill="#CC8EF5" cx="2" cy="2" r="2"/>
                </g>

                <g id="grp5" opacity="0" transform="translate(14 50)">
                  <circle id="oval1" fill="#91D2FA" cx="6" cy="5" r="2"/>
                  <circle id="oval2" fill="#91D2FA" cx="2" cy="2" r="2"/>
                </g>

                <g id="grp4" opacity="0" transform="translate(35 50)">
                  <circle id="oval1" fill="#F48EA7" cx="6" cy="5" r="2"/>
                  <circle id="oval2" fill="#F48EA7" cx="2" cy="2" r="2"/>
                </g>

                <g id="grp1" opacity="0" transform="translate(24)">
                  <circle id="oval1" fill="#9FC7FA" cx="2.5" cy="3" r="2"/>
                  <circle id="oval2" fill="#9FC7FA" cx="7.5" cy="2" r="2"/>
                </g>
              </g>
              </svg>
              </label>
            </div>
            </div>
            <div class="card-back">
              <div class="movie-details">
                <div class="movie-title-section">
                  <%= image_tag('camera2.svg', class: 'camera-icon') %>
                  <div class="camera-icon">
                    <div class="movie-title-section">
                      <h2 class="movie-title"><%= (movie["title"] || movie["name"]).upcase %></h2>
                      <p class="movie-year">Année de production : <%= (movie["release_date"] || movie["first_air_date"]).to_s.split("-").first %></p>
                      <p class="movie-vote">Vote du public : <%= movie["vote_average"] %> / 10</p>
                    </div>
                  </div>
                </div>
                <div class="movie-description-section">
                  <p class="movie-overview"><%= movie["overview"] %></p>
                </div>
              </div>
              <div class="favorite-container"
              data-controller="favorite"
              data-favorite-id-value="<%= movie['id'] %>"
              data-favorite-title-value="<%= movie['title'] || movie['name'] %>"
              data-favorite-image-url-value="<%= movie["poster_path"] %>"
              data-favorite-media-type-value="<%= movie["media_type"] %>">

              <input type="checkbox" class="checkbox" id="favorite-checkbox-back-<%= movie['id'] %>"
                data-action="change->favorite#toggle"
                <%= 'checked' if current_user.movie_in_favorites?(movie['id']) %>>
              <label for="favorite-checkbox-back-<%= movie['id'] %>">
                <svg id="heart-svg" viewBox="467 392 58 57" xmlns="http://www.w3.org/2000/svg">
                <g id="Group" fill="none" fill-rule="evenodd" transform="translate(467 392)">
                <path id="heart" d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z" fill="#FFFFFF"/>
                <circle id="main-circ" fill="#E2264D" opacity="0" cx="29.5" cy="29.5" r="1.5"/>

                <g id="grp7" opacity="0" transform="translate(7 6)">
                  <circle id="oval1" fill="#9CD8C3" cx="2" cy="6" r="2"/>
                  <circle id="oval2" fill="#8CE8C3" cx="5" cy="2" r="2"/>
                </g>

                <g id="grp6" opacity="0" transform="translate(0 28)">
                  <circle id="oval1" fill="#CC8EF5" cx="2" cy="7" r="2"/>
                  <circle id="oval2" fill="#91D2FA" cx="3" cy="2" r="2"/>
                </g>

                <g id="grp3" opacity="0" transform="translate(52 28)">
                  <circle id="oval2" fill="#9CD8C3" cx="2" cy="7" r="2"/>
                  <circle id="oval1" fill="#8CE8C3" cx="4" cy="2" r="2"/>
                </g>

                <g id="grp2" opacity="0" transform="translate(44 6)">
                  <circle id="oval2" fill="#CC8EF5" cx="5" cy="6" r="2"/>
                  <circle id="oval1" fill="#CC8EF5" cx="2" cy="2" r="2"/>
                </g>

                <g id="grp5" opacity="0" transform="translate(14 50)">
                  <circle id="oval1" fill="#91D2FA" cx="6" cy="5" r="2"/>
                  <circle id="oval2" fill="#91D2FA" cx="2" cy="2" r="2"/>
                </g>

                <g id="grp4" opacity="0" transform="translate(35 50)">
                  <circle id="oval1" fill="#F48EA7" cx="6" cy="5" r="2"/>
                  <circle id="oval2" fill="#F48EA7" cx="2" cy="2" r="2"/>
                </g>

                <g id="grp1" opacity="0" transform="translate(24)">
                  <circle id="oval1" fill="#9FC7FA" cx="2.5" cy="3" r="2"/>
                  <circle id="oval2" fill="#9FC7FA" cx="7.5" cy="2" r="2"/>
                </g>
              </g>
              </svg>
              </label>
            </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </turbo-frame>
  <div id="end-of-cards-message">
    <p>Vous avez vu toutes les recommandations.</p>
    <button class="btn_restart" onclick="location.href='<%= new_seance_path %>'">
      Recommencer
    </button>
  </div>
</div>
</body>
