<div class="container mt-4 p-4">
  <div class="row justify-content-center">
    <div class="col-md-4 border shadow-sm mt-4 p-4">
      <% if session[:recommendations] %>
      <% session[:recommendations].each do |movie| %>
      <div class="movie">
        <%= link_to movie["title"] || movie["name"], streaming_platforms_path(id: movie["id"], type: movie["media_type"]) %>
        <p>Date de sortie: <%= movie["release_date"] %></p>
        <p>Popularité: <%= movie["popularity"] %></p>
        <%= link_to image_tag("https://image.tmdb.org/t/p/w500/#{movie["poster_path"]}", alt: "#{movie["title"] || movie["name"]} poster"), seance_path(id: movie["id"], type: movie["media_type"]) %>
        <%= button_to 'Add to Favorites', favorites_path, method: :post, params: { tmdb_id: movie["id"], media_type: movie["media_type"], title: movie["title"], image_url: movie["poster_path"]} %>

      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
