<div class="form-screen">
  <h1 class="title">MES PREFERENCES</h1>
  <%= simple_form_for @seance, html: { class: 'custom-form' } do |f| %>
    <div class="form-group">
      <%= f.input :seance_type, label: "Type", collection: ['Film', 'Série'], prompt: 'Sélectionnez un type', input_html: { class: 'form-control seance_type' } %>
    </div>

    <div class="form-group" id="genre-input">
      <%= f.input :genre, label: "Genre", collection: @genres, prompt: 'Sélectionnez un genre', input_html: { class: 'form-control seance_genre' } %>
    </div>

    <div class="form-group" id="keyword-input" style="display: none;">
      <%= f.input :keyword, label: "Mot Clé", input_html: { class: 'form-control' } %>
    </div>
  <div class="form-group">
    <a href="#" id="advanced-search-toggle" class="advanced-search-link">recherche avancée 🔍</a>
    <div id="advanced-search-fields" style="display: none;">
      <div class="form-check">
        <%= f.radio_button :search_type, 'genre', id: 'search-by-genre', checked: true %>
        <%= f.label :search_type_genre, 'Rechercher par genre' %>
      </div>
      <div class="form-check">
        <%= f.radio_button :search_type, 'keyword', id: 'search-by-keyword' %>
        <%= f.label :search_type_keyword, 'Rechercher par mot-clé' %>
      </div>
      <div class="form-group">
        <%= f.input :year, label: 'Année', as: :select, collection: (1980..2024).to_a.reverse, prompt: 'Sélectionnez une année', input_html: { class: 'form-control' } %>
        <%= f.input :actor, label: 'Acteur', collection: @actors, prompt: 'Sélectionnez un acteur', input_html: { class: 'form-control' } %>
        <%= f.input :runtime, label: 'Durée', collection: [['Moins de 60 min', 60], ['Moins de 90 min', 90], ['Moins de 120 min', 120]], prompt: 'Sélectionnez une durée', input_html: { class: 'form-control' } %>
        <%= f.input :origin_country, label: "Pays d'origine", collection: @origin_country, prompt: 'Sélectionnez un pays', input_html: { class: 'form-control' } %>
      </div>
    </div>
      <%= f.submit "Rechercher", class: "btn search" %>
  <% end %>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $('#advanced-search-toggle').click(function (e) {
      e.preventDefault();
      $('#advanced-search-fields').slideToggle();
      $('#genre-input, .form-group:has(.seance_type)').toggle();
    });
  });
</script>

<script>
  $(document).ready(function () {
    function toggleInputs() {
      if ($('#search-by-genre').is(':checked')) {
        $('#genre-input').show();
        $('#keyword-input').hide();
        $('#seance_keyword').prop('disabled', false);
      } else {
        $('#genre-input').hide();
        $('#keyword-input').show();
        $('#seance_genre').prop('disabled', false);
      }
    }
    toggleInputs();
    $('input[name="seance[search_type]"]').change(function () {
      toggleInputs();
    });
  });
</script>
