
<div class="container">
  <div class="row mt-4">
    <div class="col">
<% Rails.logger.debug "Item Details: #{@item_details}" %>

<% if @item_details.present? %>
  <% if @item_details["title"].present? %>
    <!-- Affichage pour les films -->
    <h1><%= @item_details["title"] %></h1>
    <p><%= @item_details["overview"] %></p>
  <% elsif @item_details["name"].present? %>
    <!-- Affichage pour les séries -->
    <h1><%= @item_details["name"] %></h1>
    <p><%= @item_details["overview"] %></p>
  <% else %>
    <p>Détails non disponibles.</p>
  <% end %>
<% else %>
  <p>Détails non disponibles.</p>
<% end %>
  <%= link_to "Ajouter à mes favoris", new_favorite_path(@movie), class: "btn btn-secondary mt-3" %>
    </div>
  </div>
</div>
