<div class="container-fluid main-container background-standard">
  <div class="row justify-content-center align-items-center">
    <div class="col p-0">
      <div class="second-container">
        <div class="profile-header">
          <%= link_to :back, class: "m-4 back-button" do %>
          <img src="<%= image_path('back.png') %>" alt="back" class="nav-icon">
          <% end %>
          <h3 class="title-profile-style text-center">Mes plateformes</h3>
        </div>
        <div class="profile-body">
          <div class="text-center profile-avatar">
            <%= image_tag(current_user.avatar, class: "avatar-large", alt: "avatar")%>
          </div>
          <%= form_with(model: current_user, url: user_platforms_path, method: :post, local: true) do |f| %>
          <div data-controller="platform">
            <div class="d-flex justify-content-center flex-wrap mx-4">
              <% PLATFORMS.each_with_index do |provider_name, index| %>
              <div class="platform-selection mb-5">
                <%= image_tag "#{provider_name[:name].downcase.gsub(' ', '_')}_logo.png",
                    alt: "#{provider_name[:name]} logo",
                    class: "mx-2 platform-logo #{'selected' if @user_streaming_ids.include?(provider_name[:id])}",
                    data: { action: "click->platform#toggleSelection", platform: provider_name[:name], target: "platform.platform" } %>
            <%= f.hidden_field :selected_platforms,
                  name: 'user[selected_platforms][]',
                  value: provider_name[:name],
                  id: "hiddenField#{index}",
                  disabled: !@user_streaming_ids.include?(provider_name[:id]),
                  data: { platform: provider_name[:name], target: "platform.hiddenField" } %>
          </div>
              <% end %>
            </div>
          </div>
          <div class="d-flex justify-content-center mt-3 mb-5">
            <%= f.submit "Enregistrer", class:"button-standard mt-2"%>
          </div>
          <% end %>
          <div class="profile-footer">
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
