<div class="container-fluid main-container background-standard">
  <div class="row justify-content-center align-items-center">
    <div class="col p-0">
      <div class="second-container">
        <div class="profile-header">
          <%= link_to :back, class: "m-4 back-button" do %>
          <img src="<%= image_path('back.png') %>" alt="back" class="nav-icon">
          <% end %>
          <h3 class="title-profile-style text-center">Editer le Profile</h3>
        </div>
        <div class="profile-body">
          <div class="text-center profile-avatar">
            <%= image_tag(current_user.avatar, class: "avatar-large", alt: "avatar")%>
          </div>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs d-flex flex-column align-items-center ">
            <%= f.input :email, required: true, autofocus: true %>
            <%= f.input :avatar, as: :file %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <%= f.input :username, required: true, autofocus: true %>
            <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true,input_html: { autocomplete: "current-password" }%>
            <%= f.input :password, hint: "leave it blank if you don't want to change it", required: false, input_html: { autocomplete: "new-password" }%>
            <%= f.input :password_confirmation, required: false, input_html: { autocomplete: "new-password" }%>
          </div>
          <div class="form-actions d-flex flex-column align-items-center">
            <%= f.button :submit, "Enregistrer", class: "button-standard mb-5" %>
          </div>
          <% end %>
        </div>
      </div>

    </div>

  </div>
</div>
