<!DOCTYPE html>
<html>
  <head>
    <title>Cineselect : Vos critères, notre sélection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/animejs"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag  'favicon.png'%>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= render "shared/flashes" %>
    <% unless controller_name == 'pages' && action_name == 'home' %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= yield %>

  </body>
</html>
